.swiper-container {
  height: 100%;
  position: relative;
  .swiper-slide {
    height: 100%;
  }
  .my-pagination-clickable {
    position: absolute;
    top: 25rem;
    right: 1%;
    cursor: pointer;
  }
}
