.wrap {
  cursor: pointer;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
  .wrap_conatiner {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
  }
  .logo {
    height: 46px;
  }
  // .width_block{
  //     width: 56%;
  // }
}
